*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.top
{
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 50px;
    background-color: #ffffff;
}

.top__buttons
{
    display:flex;
    flex-direction: row;
    font-size: 19px;
    line-height: 32px;
    color: #333333;
    font-family: "Georgia";
    height: 50px;
    width: 960px;
}

.top__button_about
{
    line-height: 51px;
    height: 50px;
    text-decoration: none;
    background-image: url(/lw5/images/about_me_icon.png);
    background-repeat: no-repeat;
    background-position: 21px 17px;
    padding: 0px 21px 0px 45px;
    background-color: #15a98c;
    color: #f5f5f5;
}

.top__button_about:hover
{
    background-color: #098d71;
}

.top__button_movies
{
    height: 50px;
    color: #333333;
    line-height: 51px;
    text-decoration: none;
    background-image: url(/lw5/images/video_icon.png);
    background-repeat: no-repeat;
    background-position: 21px 17px;
    padding: 0px 21px 0px 45px;
}

.top__button_movies:hover
{
    background-color: #cccccc;
}

.top__button_contact
{
    height: 50px;
    color: #333333;
    line-height: 51px;
    text-decoration: none;
    background-image: url(/lw5/images/hobby_icon.png);
    background-repeat: no-repeat;
    background-position: 21px 17px;
    padding: 0px 21px 0px 45px;
}

.top__button_contact:hover
{
    background-color: #cccccc;
}

.info
{
    display: flex;
    background-image: url(/lw5/images/background.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 0 57px;
    padding: 118px 0 0 0;
    width: 1920px;
}

.movies
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 1920px;
    padding: 37px 0;
}

.movies__header
{
    color: #333333;
    font: 400 36px/42px "Open Sans", sans-serif;
    position: relative;
    left: -436px;
}

.movies__container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    position: relative;
    top: 33px;
}

.movies__item
{
    position: relative;
}

.movie-image
{
    width: 285px;
    height: 190px;
    border-radius: 5px;
    background-color: #464646;
    margin: 0 0 19px;
}

.movie-name
{
    color: #333333;
    font: 700 22px/32px "Open Sans", sans-serif;
    margin: 0 0 17px -2px;
}

.movie-name_silly
{
    color: #333333;
    font: 700 22px/32px "Open Sans", sans-serif;
    margin: 0 0 17px 0px;
}

.movie-text
{
    width: 285px;
    height: 565px;
    color: #555555;
    font: 16px/28px "Georgia";
}

.movies__button
{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    font-size: 19px;
    line-height: 49px;
    color: #f5f5f5;
    font-family: "Georgia";
    text-align: center;
    margin: 26px 20px 23px 0;
    text-decoration: none;
}

.movies__button:hover
{
    background-color: #098d71;
}

.contact-me
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1920px;
    height: 898px;
    padding: 21px 22px;
}

.contact-me__header
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 702px;
    position: relative;
    right: 27px;
}

.contact-me__header::before
{
    content: '';
    position: relative;
    width: 200px;
    height: 1px;
    background-color: #c3c3c3;
}

.contact-me__header::after
{
    content: '';
    position: relative;
    width: 200px;
    height: 1px;
    background-color: #c3c3c3;
    right: 4px;
}

.contact-me__container
{
    padding: 44px 45px 0 0;
}

.contact-me__input
{
    margin: 0 0 27px 0;
}

.form-header
{
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.form-header::after
{
    content: '\002A';
    color: red;
    position: relative;
    left: 6px;
    top: 1px;
}

.form-window
{
    width: 502px;
    height: 46px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    position: relative;
    left: 1px;
    top: 4px;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 0 17px;
}

.form-window:focus
{
    border-color: #15a98c;
    outline: none;
}

.contact-me__input_country
{
    padding: 2px 0 0 1px;
    margin: 0 0 41px 0;
}

.form-header_nostar
{
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    padding: 0 0 4px 0;
}

.form-window_country
{
    width: 540px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    padding: 0 12px 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    padding: 0 0 2px 16px;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
    background-image: url(/lw5/images/arrow_down.png);
    background-repeat: no-repeat;
    background-position: 97% 50%;
    outline: none;
}

.form-window-country::-ms-expand
{
    display: none;
}

.form-window_country__item
{
    position: relative;
}

.contact-me__input_gender
{
    margin: 0 0 36px 0;
}

.gender__item
{
    height: 13px;
    width: 13px;
}

.gender__item_text
{
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 0px 34px 0 6px;
}

.contact-me__input_text
{
    margin: 0 0 48px 0;
}

.contact-me__item
{
    width: 536px;
    height: 146px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    position: relative;
    top: 3px;
    left: 2px;
    resize: none;
    outline: none;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
}

.contact-me__item:focus
{
    border-color: #15a98c;
}

.contact-me__button
{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    font-size: 19px;
    line-height: 49px;
    color: #f5f5f5;
    font-family: "Georgia";
    text-align: center;
    position: relative;
    left: 2px;
    border: none;
}

.contact-me__button:hover
{
    background-color: #098d71;
}

.footer
{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    width: 1920px;
    height: 70px;
}

.footer__text
{
    font-size: 16px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
    padding: 17px 37px 14px 14px;
}

.image
{
    margin: 0 0 41px 0;
    width: 330px;
    height: 350px;
    border-radius: 5px;
}

.sidebar
{
    position: relative;
    margin: 92px 60px 0 460px;
    width: 330px;
    padding: 0 0 0 20px;
}

.column
{
    margin: 0 0 42px 0;
}

.column__title
{   
    margin: 0 0 12px 0;
    color: #15a98c;
    font: 600 24px/32px "Open Sans", sans-serif;
}

.column__list
{
    padding: 0 0 0 3px;
    margin: 0 0 20px 0;
    color: #555555;
    font: 19px/36px "Georgia";
}

.column__item
{
    padding: 0 0 0 1px;
    list-style-type: none;
}

.column__item::before
{
    content: '';
    display: inline-block;
    position: relative;
    margin: 0 11px 3px 0px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #555555;
}

.column__item_number
{
    margin: 0 0 0 17px;
}

.column__item_first
{
    padding: 0 0 0 1px;
    margin: 0 0 0 -4px;
    list-style-type: none;
}

.column__item_first::before
{
    content: '1.';
    display: inline-block;
    position: relative;
    margin: 0 4px 0px 0px;
}

.content
{
    position: relative;
    margin: 100px 0 0 0;
    padding: 16px 20px 0 0;
}

.quote
{
    margin: 0 0 82px 0;
    width: 502px;
    padding: 0 0 0 3px;
}

.quote__text
{
    width: 550px;
    color: #ffffff;
    font: italic 28px/42px "Georgia";
}

.quote__author
{
    padding: 2px 0 0 3px;
    color: #f5f5f5;
    font: 600 16px/42px "Open Sans", sans-serif;
}

.quote__author::before
{
    padding: 0 4px 0 0;
    content: "\2014"; 
}

.bio
{
    margin: 0;
}

.bio__header
{
    position: relative;
    margin: 0 0 81px 0;
    padding: 0 0 0 4px;
    color: #333333;
    font: 700 48px/42px "Open Sans", sans-serif;
}

.bio__header::after
{
    content: '';
    position: absolute;
    left: 0%;
    top: 175%;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
}

.bio__text
{
    margin: 0 0 36px 0;
    width: 561px;
    height: 198px;
    color: #555555;
    font: 19px/32px "Georgia";
}

.hobby
{
    margin: 0 0 40px 0;
}

.hobby__title
{
    margin: 0 0 16px -2px;
    color: #333333;
    font: 400 36px/42px "Open Sans", sans-serif;
}

.hobby__text
{
    width: 562px;
    color: #555555;
    font: 19px/32px "Georgia";
}

.link
{
    text-decoration: none;
    width: 562px;
    height: 263px;
    color: #15a98b;
    font: 119%/32px "Georgia";
}

.link:hover
{
    color: #098d72;
}

.link__text
{
    border-bottom: 2px solid;
}

.link__end
{
    text-decoration: none;
}

.link__end::after
{
    content: " \2192";
}