.image
{
    margin: 0 0 41px 0;
    width: 330px;
    height: 350px;
    border-radius: 5px;
}

.sidebar
{
    position: relative;
    float: left;
    margin: 92px 60px 0 452px;
    width: 330px;
    padding: 0 0 0 20px;
}

.column
{
    margin: 0 0 42px 0;
}

.column__title
{   
    margin: 0 0 -7px 0;
    color: #15a98c;
    font: 600 24px/32px "Open Sans", sans-serif;
}

.column__list
{
    padding: 0 0 0 18px;
    color: #555555;
    font: 19px/36px "Georgia";
    text-align: left;
}

.column__item
{
    padding: 0 0 0 1px;
}

.content
{
    position: relative;
    float: left;
    margin: 100px 0 0 0;
    padding: 41px 20px 0 0;
}

.quote
{
    margin: 0 0 41px 0;
    width: 502px;
    height: 304px;
    background-image: url(/lw5/images/quotes.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.quote__text
{
    padding: 70px 0 0 60px;
    width: 500px;
    color: #848484;
    font: italic 28px/42px "Georgia";
}

.quote__author
{
    padding: 2px 0 0 63px;
    color: #333333;
    font: 600 16px/42px "Open Sans", sans-serif;
}

.quote__author::before
{
    padding: 0 4px 0 0;
    content: "\2014"; 
}

.bio
{
    margin: 0;
}

.bio__header
{
    position: relative;
    margin: 0 0 81px 0;
    padding: 0 0 0 5px;
    color: #333333;
    font: 700 48px/42px "Open Sans", sans-serif;
}

.bio__header::after
{
    content: '';
    position: absolute;
    left: 0%;
    top: 176%;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
}

.bio__text
{
    margin: 0 0 36px 0;
    width: 561px;
    height: 198px;
    color: #555555;
    font: 19px/32px "Georgia";
}

.hobby
{
    margin: 0 0 41px 0;
}

.hobby__title
{
    margin: 0 0 16px -2px;
    color: #333333;
    font: 400 36px/42px "Open Sans", sans-serif;
}

.hobby__text
{
    width: 562px;
    color: #555555;
    font: 19px/32px "Georgia";
}

.link
{
    text-decoration: none;
    width: 562px;
    height: 263px;
    color: #15a98b;
    font: 119%/32px "Georgia";
}

.link:hover
{
    color: #098d72;
}

.link__text
{
    border-bottom: 2px solid;
}

.link__end
{
    text-decoration: none;
}

.link__end::after
{
    content: " \2192";
}
